.CafeList-search {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.CafeList-search form {
    display: flex;
    align-items: center;
}

.CafeList-search input, 
.CafeList-search button {
    padding: 1em;
    border: 1px solid;
    font-size: 1rem;
}

.CafeList-search input {
    flex: 1;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 300px;
}

.CafeList-search button {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


.CafeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    justify-content: center;
}


.CoffeeShop img {
    width: 100%;
    height: 250px;
    object-fit: cover;  
    border-radius: 10px;  
    display: block;
}

/* Small screens (mobile) */
@media only screen and (max-width: 700px) {
    .CafeList {
        grid-template-columns: 1fr;
    }

    .CafeList-search input {
        width: 100%; 
    }
}
