.CoffeeShop {
    width: 100%;
    text-align: center;
    position: relative;
}

.CoffeeShop > img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.CoffeeShop .CoffeeShop-title {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

.CoffeeShop .CoffeeShop-title:hover {
    color: #b5651d;
}

.CoffeeShop-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin: auto;
  font-weight: bolder;
  padding: 1rem 0 0 1rem; 
  text-align: left;
  max-width: 80%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.CoffeeShop .CoffeeShop-info {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.9rem;
}

.CoffeeShop .CoffeeShop-info div {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px 0 0 5px;
}

.Title-Subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0.25rem 0 0 1rem;
    font-style: italic;

}