.RandomCoffeeShop {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
    background-color: #70483a;
    border: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    font-size: 16px;
}

